<body>
  <!-- LOGO RECYCLED
      ================================================== -->

  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a class="loco">
            <i class="logo material-icons iconlogo">
              eco
            </i>
            <img
              id="logo"
              src="../../assets/logos/final/Logo004.png"
              alt="logo"
            />
          </a>
        </div>
      </div>
    </div>
  </header>

  <!-- ABOUT -- Recycled Team
      ================================================== -->

  <section id="catagorie">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <div class="block-heading">
              <h2>Nuestro Equipo</h2>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="catagotie-head" href="blog-single.html">
                    <img
                      class="portraitLoco"
                      src="../../assets/img/about/Foto1.jpg"
                      alt="Alberto Roda"
                    />
                    <h3>Alberto Roda</h3>
                  </a>
                  <div class="caption">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Iste, aut, esse, laborum placeat id illo a expedita
                      aperiam...
                    </p>
                    <p>
                      <a class="button">Más Info</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="catagotie-head" href="blog-single.html">
                    <img
                      class="portraitLoco"
                      src="../../assets/img/about/Foto2.jpg"
                      alt="Roberto Julio Alamo"
                    />
                    <h3>Roberto Julio</h3>
                  </a>
                  <div class="caption">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Iste, aut, esse, laborum placeat id illo a expedita
                      aperiam...
                    </p>
                    <p>
                      <a class="button">Más Info</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="catagotie-head" href="blog-single.html">
                    <img
                      class="portraitLoco"
                      src="../../assets/img/about/Foto3.jpg"
                      alt="Iván Sánchez"
                    />
                    <h3>Iván Sánchez</h3>
                  </a>
                  <div class="caption">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Iste, aut, esse, laborum placeat id illo a expedita
                      aperiam...
                    </p>
                    <p>
                      <a class="button">Más Info</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- HERO RECYCLED
      ================================================== -->

  <section id="slider-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="slider" class="nivoSlider">
            <img src="../../assets/img/about/slider1.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES Start
      ================================================== -->

  <section id="features">
    <div class="container">
      <div class="row">
        <div class="holi col-md-4">
          <div class="block">
            <div class="media">
              <div class="pull-left" href="#">
                <i class="fa fa-ambulance"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Recycling</h4>
                <img
                  class="rec"
                  src="../../assets/img/about/Recycling.png"
                  alt="Recycling"
                />
                <p>
                  Proceso en el cual un producto que se descarta vuelve a ser lo
                  que era, manteniendo sus propiedades.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="holi col-md-4">
          <div class="block">
            <div class="media">
              <div class="pull-left" href="#">
                <i class=" fa fa-foursquare"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Upcycling</h4>
                <img
                  class="rec"
                  src="../../assets/img/about/Upcycling.png"
                  alt="Upcycling"
                />
                <p>
                  Proceso de transformar subproductos, residuos o productos
                  inútiles en nuevos materiales o productos de mejor calidad.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="holi col-md-4">
          <div class="block">
            <div class="media">
              <div class="pull-left" href="#">
                <i class=" fa fa-phone"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Downcycling</h4>
                <img
                  class="rec"
                  src="../../assets/img/about/Downcycling.png"
                  alt="Downcycling"
                />
                <p>
                  Proceso de transformar productos irrecuperables en materiales
                  o productos de calidad inferior.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin section -->

  <!-- OTRO HERO TODO LOCO -->

  <div class="hero">
    <h1 class="tituloLoco"><span>We are</span><br />RECYCL€D</h1>

    <div class="mouse">
      <span></span>
    </div>
  </div>



</body>
